.detail-container {
    height: 100vh;
    display: block;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    justify-content: space-between;

    .detail-title {
        padding: 24px;
        border-bottom: 1px solid #ccc;
    }

    .detail-question {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .question-container {
            padding-left: 4%;

            .question-text {
                padding-top: 24px;
            }

            .question-layout {
                display: flex;

                .answer-options {
                    padding-top: 48px;
                    width: 40%;

                    .answer-option {
                        padding: 12px;
                        font-size: 22px;

                        .radio {
                            margin-right: 18px;
                            width: 18px;
                            height: 18px;
                        }
                    }

                }

                .question-image {
                    width: 60%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        height: 380px;
                        display: block;
                        object-fit: cover;
                        object-position: center;
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                    }
                }
            }

        }

        .question-footer {
            height: 120px;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            background-color: #eee;

            .footer-btn-group {
                display: flex;
                justify-content: space-around;
                padding: 18px;
            }

            .footer-support {
                display: flex;
                justify-content: space-around;
                padding-top: 12px;
                border-top: 1px solid #ccc;

                .circle {
                    display: inline-block;
                    height: 14px;
                    width: 14px;
                    border-radius: 50%;
                    background-color: aqua;
                    margin-right: 12px;
                    border: 1px solid #ccc;
                }

                //question current
                .color-blue {
                    background-color: #125ff9;
                }

                //question isAnswer
                .color-grey {
                    background-color: #ffffff;
                }

                //question isAnswer
                .color-green {
                    background-color: #00ae0e;
                }

                //question isMark
                .color-orange {
                    background-color: rgb(233, 58, 0);
                }
            }
        }
    }

    .detail-aside {
        width: 20%;
        // padding: 2%;
        // background-color: #eee;
        border: 1px solid #ccc;

        .aside-content {
            height: 668px;
            overflow-y: auto;
            padding-left: 18px;

            .title {
                padding: 24px 0;
                font-size: 24px;
                font-weight: 400;
            }

            .question-list {
                display: flex;
                gap: 8px;
                list-style: none;
                flex-wrap: wrap;
                padding: 0 12px;
                user-select: none;

                .question-item {
                    position: relative;
                    width: 40px;
                    height: 40px;
                    border-radius: 12px;
                    background-color: #fff;
                    text-align: center;
                    line-height: 40px;
                    border: 1px solid #ccc;

                    &:hover {
                        cursor: pointer;
                        // background-color: #cccccc98;
                    }
                }

                //question isAnswer
                .isAnswer {
                    background-color: #00ae0e;
                    color: #fff;
                }

                //question current
                .isCurrent {
                    background-color: #125ff9;
                    color: #fff;
                }

                //question isMark
                .isMark {
                    background-color: #fb8e12;
                }

                .notification {
                    position: absolute;
                    top: -8px;
                    right: -8px;
                    width: 12px;
                    height: 12px;
                    background-color: rgb(233, 58, 0);
                    border-radius: 50%;
                }
            }


        }

        .aside-footer {
            background-color: #ffffff;
            height: 100%;
            border-top: 1px solid #ccc;

            .title {
                text-align: center;
                padding-top: 12px;
            }

            .times {
                display: flex;
                justify-content: center;
                gap: 24px;

                p {
                    margin: 0;
                    text-align: center;
                }

                .number {
                    font-size: 24px;
                }
            }
        }
    }
}